<%- include ../header %>
<p style="font-size:3em; text-align:center"><%- composition.name %></p>
<div class="typeahead" style="border: solid;">
    <p style="-webkit-writing-mode:vertical-rl; text-align: center">
    <%composition.ingredients.forEach(item => { %>
    <span style="-webkit-writing-mode:vertical-rl; font-size:6vw"><a href="../medicine/<%- item.name %>"><%- item.name %></a></span>
    <span style="-webkit-writing-mode:horizontal-tb; font-size:4vw"><%- item.q %></span>
    <% if(item.unit == "mace") { %>
    <span style="-webkit-writing-mode:vertical-rl; font-size:3vw">錢</span>
    <% } %>
    <% if(item.unit == "tael") { %>
    <span style="-webkit-writing-mode:vertical-rl; font-size:3vw">兩</span>
    <% } %>




    <% }) %>
    </p>
</div>
<%- include ../footer %>