<%- include ../header %>
<h3><%- composition.name %></h3>
<div class="typeahead">
    <p>
    <%composition.ingredients.forEach(item => { %>

        <a href="medicine/<%- item.name %>"><%- item.name %></a>
        <%- item.q %>
        <%- item.unit %>

    <% }) %>
    </p>
</div>
<%- include ../footer %>