<%- include header %>
<body>
<p><a href="/medicine/addmed">Add new medicine</a></p>
<h3>前櫃</h3>
<% medicines.forEach(function(medicine, index){ %>
    <% if (medicine.position=='front') { %>
        <p><a href="/medicine/<%= medicine.name %>"><%= medicine.name %></a></p>
    <% } %>

<% }) %>



<h3>後櫃</h3>
<% var dataTable = []; %>
<% medicines.forEach(function(medicine, index){ %>
    <% if (medicine.position=='back') { %>
        <% if (!dataTable[medicine.row]){ %>
        <%     dataTable[medicine.row] = []; %>
        <%     dataTable[medicine.row][medicine.col] = []; %>
        <%     dataTable[medicine.row][medicine.col][medicine.index] = medicine.name %>
        <% } %>
        <% if(dataTable[medicine.row]){ %>
        <%     if(!dataTable[medicine.row][medicine.col]){ %>
        <%         dataTable[medicine.row][medicine.col] = []; %>
        <%         dataTable[medicine.row][medicine.col][medicine.index] = medicine.name; %>
        <%     } %>
        <%     if(dataTable[medicine.row][medicine.col]){ %>
        <%         dataTable[medicine.row][medicine.col][medicine.index] = medicine.name; %>
        <%     }%>
        <% }%>
    <% } %>
<% }); %>

<table>
    <tr>
        <td><%= dataTable[1][1] %> | </td>
        <td><%= dataTable[1][2] %> | </td>
        <td><%= dataTable[1][3] %> | </td>
        <td><%= dataTable[1][4] %> | </td>
        <td><%= dataTable[1][5] %> | </td>
        <td><%= dataTable[1][6] %> | </td>
        <td><%= dataTable[1][7] %> | </td>
        <td><%= dataTable[1][8] %> | </td>
        <td><%= dataTable[1][9] %> | </td>
    </tr>
    <tr>
        <td><%= dataTable[2][1] %> | </td>
        <td><%= dataTable[2][2] %> | </td>
        <td><%= dataTable[2][3] %> | </td>
        <td><%= dataTable[2][4] %> | </td>
        <td><%= dataTable[2][5] %> | </td>
        <td><%= dataTable[2][6] %> | </td>
        <td><%= dataTable[2][7] %> | </td>
        <td><%= dataTable[2][8] %> | </td>
        <td><%= dataTable[2][9] %> | </td>
    </tr>
    <tr>
        <td><%= dataTable[3][1] %> | </td>
        <td><%= dataTable[3][2] %> | </td>
        <td><%= dataTable[3][3] %> | </td>
        <td><%= dataTable[3][4] %> | </td>
        <td><%= dataTable[3][5] %> | </td>
        <td><%= dataTable[3][6] %> | </td>
        <td><%= dataTable[3][7] %> | </td>
        <td><%= dataTable[3][8] %> | </td>
        <td><%= dataTable[3][9] %> | </td>
    </tr>
</table>

<div class="backbox">
    <div id="bb-c1">
        <div id="bb-c1-r1"></div>
        <div id="bb-c1-r2"></div>
        <div id="bb-c1-r3"></div>
        <div id="bb-c1-r4"></div>
    </div>
</div>

<h3>庫存</h3>
<% medicines.forEach(function(medicine, index){ %>
<a href='/medicine/medinfo/<%= medicine.name %>'><%= medicine.name %></a>
    <% if (medicine.position=='stock') { %>
        <p><a href="/medicine/<%= medicine.name %>"><%= medicine.name %></a></p>
    <% } %>

<% }) %>

</body>