<%- include header %>
<% medicines.forEach(function(medicine, index){ %>
<p><a href='/medicine/medinfo/<%= medicine.name %>'><%= medicine.name %></a></p>
<p>位置：<%= medicine.position %></p>
<p>Row:<%= medicine.row %></p>
<p>Col:<%= medicine.col %></p>
<p>Index:<%= medicine.index %></p>

<% }) %>