<%- include header.ejs %>
<form method="get" action="/search">
    <input name="keyword"  value="<%- query %>"/>
    <input class="btn btn-submit" type="submit" value="search"/>
</form>
<hr>
<p>搜尋結果：</p>
<% if (medicines.length == 0 && compositions.length == 0){ %>
<p>無相似結果</p>
<% } %>
<% medicines.forEach(function(medicine){ %>
<p><a href='/medicine/<%= medicine.name %>'><%= medicine.name %></a></p>
<p class="brief-intro"><%= medicine.intro %></p>
<hr>
<% }) %>

<% compositions.forEach((composition) => { %>
<p><a href="/composition/<%= composition.name %>"><%= composition.name %></a></p>
<p class="brief-intro"><%= composition.intro %></p>
<p class="brief-intro">成分:<% composition.ingredients.forEach((item) => { %>
    <%= item.name %>
    <% }) %>
</p>
<hr>
<% }) %>


<p><a href="/">Back</a></p>