<%- include header %>
<% medicines.forEach(function(medicine, index){ %>
<p><%= medicine.name %></p>
<p><%= medicine.position %></p>
<p><%= medicine.row %></p>
<p><%= medicine.col %></p>
<p><%= medicine.index %></p>
<li></li>
<% }) %>