<%- include ../header %>
<p>User: <%= user %></p>
<form method="post" action="/medicine/edit/<%= medicine.name %>">
<p>Name: <input type="text" name="name" value=<%= medicine.name %>></p>
<p>
    <% if(medicine.latest_price != null) {  %>
        Latest Price: <input type="number" name="price" value=<%= medicine.latest_price.price %>>
    <% } else {  %>
        Latest Price: <input type="number" name="price" value=<%= medicine.prices[0].price %>>
    <% } %>
    <select id="unit" name="unit">
        <%if(medicine.latest_price.unit == 'catty') { %>
            <option value="catty" selected>斤</option>
        <% }else{ %>
            <option value="catty">斤</option>
        <% } %>
        <%if(medicine.latest_price.unit == 'tael') { %>
        <option value="tael" selected>兩</option>
        <% }else{ %>
            <option value="tael">兩</option>
        <% } %>
        <%if(medicine.latest_price.unit == 'mace') { %>
        <option value="mace" selected>錢</option>
        <% }else{ %>
            <option value="mace">錢</option>
        <% } %>
        <%if(medicine.latest_price.unit == 'piece') { %>
        <option value="piece" selected>個</option>
        <% }else{ %>
            <option value="piece">個</option>
        <% } %>
        <%if(medicine.latest_price.unit == 'other') { %>
        <option value="other" selected>其他</option>
        <% }else{ %>
            <option value="other">其他</option>
        <% } %>
    </select>
    價格日期<input type="date" name="date" value="<%= today %>">
</p>
    <p>Classified Price:<input type="number" step=0.1 name="classified_price" value=<%= medicine.classified_price? medicine.classified_price:0 %>></p>

<p>Position:
    <% console.log(medicine.position) %>
    <% if(medicine.position =='front') { %>
        <input type="radio" name="position" value="front" checked='true'>前櫃
    <% } else { %>
        <input type="radio" name="position" value="front">前櫃
    <% } %>
    <% if(medicine.position =='back') { %>
        <input type="radio" name="position" value="back" checked='true'>後櫃
    <% } else { %>
        <input type="radio" name="position" value="back">後櫃
    <% } %>
    <% if(medicine.position =='product') { %>
        <input type="radio" name="position" value="product" checked='true'>成藥
    <% } else { %>
        <input type="radio" name="position" value="product">成藥
    <% } %>
    <% if(medicine.position =='stock') { %>
        <input type="radio" name="position" value="stock" checked='true'>庫存
    <% } else { %>
        <input type="radio" name="position" value="stock">庫存
    <% } %>




<p>Row: <input type="number" name="row" value=<%= medicine.row %>></p>
<p>Col: <input type="number" name="col" value=<%= medicine.col %>></p>
<p>Index: <input type="number" name="index" value=<%= medicine.index %>></p>
<p>Info: <input type="text" name="info" value=<%= medicine.info %>></p>
<input class="btn btn-success" type="submit" value="Save Changes">
<a href="/back"><button class="btn btn-default">Back</button></a>
</form>
