<%- include ../header %>
<body>
<script src="/js/med.js"></script>
<p><a href="/medicine/addmed">Add new medicine</a></p>
<p><a href="medicine/export/pricedata">Export data</a></p>
<h3>前櫃</h3>
<% var dataTable = []; %>
<% medicines.forEach(function(medicine, index){ %>
<% if (medicine.position=='front') { %>
<% if (!dataTable[medicine.row]){ %>
<%     dataTable[medicine.row] = []; %>
<%     dataTable[medicine.row][medicine.col] = []; %>
<%     dataTable[medicine.row][medicine.col][medicine.index] = medicine.name %>
<% } %>
<% if(dataTable[medicine.row]){ %>
<%     if(!dataTable[medicine.row][medicine.col]){ %>
<%         dataTable[medicine.row][medicine.col] = []; %>
<%         dataTable[medicine.row][medicine.col][medicine.index] = medicine.name; %>
<%     } %>
<%     if(dataTable[medicine.row][medicine.col]){ %>
<%         dataTable[medicine.row][medicine.col][medicine.index] = medicine.name; %>
<%     }%>
<% }%>
<% } %>
<% }); %>

<table border="1">
    <% dataTable.forEach(function(col, index){ %>
    <tr>
        <%     col.forEach(function(box, index){ %>
        <td>
            <% box.forEach(function(med){ %>
            <a href="/medicine/<%= med %>"><%= med %></a>
            <% }) %>
        </td>
        <%     }); %>
    </tr>
    <% });%>

</table>



<h3>後櫃</h3>
<% var dataTable = []; %>
<% medicines.forEach(function(medicine, index){ %>
    <% if (medicine.position=='back') { %>
        <% if (!dataTable[medicine.row]){ %>
        <%     dataTable[medicine.row] = []; %>
        <%     dataTable[medicine.row][medicine.col] = []; %>
        <%     dataTable[medicine.row][medicine.col][medicine.index] = medicine.name %>
        <% } %>
        <% if(dataTable[medicine.row]){ %>
        <%     if(!dataTable[medicine.row][medicine.col]){ %>
        <%         dataTable[medicine.row][medicine.col] = []; %>
        <%         dataTable[medicine.row][medicine.col][medicine.index] = medicine.name; %>
        <%     } %>
        <%     if(dataTable[medicine.row][medicine.col]){ %>
        <%         dataTable[medicine.row][medicine.col][medicine.index] = medicine.name; %>
        <%     }%>
        <% }%>
    <% } %>
<% }); %>

<table border="1">
    <% dataTable.forEach(function(col, index){ %>
    <tr>
    <%      col.reverse().forEach(function(box, index){ %>
            <td>
                <% box.forEach(function(med){ %>
                <a href="/medicine/<%= med %>"><%= med %></a>
                <% }) %>
            </td>
        <% }); %>
    </tr>
    <% });%>

</table>

<div class="backbox">
    <div id="bb-c1">
        <div id="bb-c1-r1"></div>
        <div id="bb-c1-r2"></div>
        <div id="bb-c1-r3"></div>
        <div id="bb-c1-r4"></div>
    </div>
</div>

<h3>成藥</h3>
<p>
    <% medicines.forEach(function(medicine, index){ %>
    <% if (medicine.position=='product') { %>
    <a href="/medicine/<%= medicine.name %>"><%= medicine.name %></a>
    <% } %>
    <% }) %>
</p>


<h3>庫存</h3>
<p>
<% medicines.forEach(function(medicine, index){ %>
    <% if (medicine.position=='stock') { %>
        <a href="/medicine/<%= medicine.name %>"><%= medicine.name %></a>
    <% } %>
<% }) %>
</p>

<script type="text/javascript">
    function showContent(id, button){
        if(button.innerHTML == "-") {
            document.getElementById(id).style.display = 'none';
            button.innerHTML = "+"
        }
        else{
            document.getElementById(id).style.display = '';
            button.innerHTML = "-"
        }
    }

</script>
<h3>All</h3><a href="#" onclick="showContent('all_medicine', this)">-</a>
<div id="all_medicine">
    <p>
    <% medicines.forEach(function(medicine, index){ %>
        <a href="/medicine/<%= medicine.name %>"><%= medicine.name %></a>
    <% }) %>
    </p>
</div>
</body>